.header-table {
  border: 3px solid;
    width: 100%;
  background-color: #4269f5
}
.header-tr, .header-td{
  border: 1px solid;
  text-align: center;
  padding: 6px;
  background-color: #8eecfa
}
body{
  background-color: #ddcceb
}
.half-table{
  width: 50%;
}
p{
  font-size: 20px;
}